.nav-link {
    cursor: pointer;
}
#subNavbar {
    margin-top: 62px;
}

@media (min-width: 0px) {
  #subNavbar {
    width: 60%;
    right: 0;
    left: auto;
  }  
}
/*@media (max-width: 575.98px) {
  #subNavbar {
    width: 60%;
    right: 0;
    left: auto;
  }
}*/
@media (min-width: 576px) {
  #subNavbar {
    width: 70%;
    right: 0;
    left: auto;
  }
}
/*@media (max-width: 767.98px) {
  #subNavbar {
    width: 70%;
    right: 0;
    left: auto;
  }
}*/

@media (min-width: 768px) {
  #subNavbar {
    width: 80%;
    right: 0;
    left: auto;
  }
}

@media (max-width: 991.98px) {
  #close-sub-menu {
    display: none;
  }
  /*.nav-item {
    border-bottom: 1px solid gray;
  }*/
  #mainNavbar ul:first-child {
    margin-top: 16px;
  }
  #mainNavbar .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  #subNavbar {
    width: 100%;
    right: 0;
    left: auto;
  }   
}