.nav-link {
    cursor: pointer;
}
#subNavbar {
    margin-top: 62px;
}

@media (min-width: 0px) {
  #subNavbar {
    width: 60%;
    right: 0;
    left: auto;
  }
  #mainNavbar ul li.active .left-caret {
    width: 40%;
  }
}
/*@media (max-width: 575.98px) {
  #subNavbar {
    width: 60%;
    right: 0;
    left: auto;
  }
}*/
@media (min-width: 576px) {
  #subNavbar {
    width: 70%;
    right: 0;
    left: auto;
  }
  #mainNavbar ul li.active .left-caret {
    width: 30%;
  }
}
/*@media (max-width: 767.98px) {
  #subNavbar {
    width: 70%;
    right: 0;
    left: auto;
  }
}*/

@media (min-width: 768px) {
  #subNavbar {
    width: 80%;
    right: 0;
    left: auto;
  }
  #mainNavbar ul li.active .left-caret {
    width: 20%;
  }
}

@media (max-width: 991.98px) {
  #close-sub-menu {
    display: none;
  }
  /*.nav-item {
    border-bottom: 1px solid gray;
  }*/
  #mainNavbar ul:first-child {
    margin-top: 16px;
  }
  #mainNavbar .container {
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
  .nav-link {
    display: inline-block;
  }
  .nav-icon {
    margin-right: 10px;
  }
  #mainNavbar ul li.active .left-caret {
    position: absolute;
    margin-top: 10px;
    height: 0;
    left: 0;
    border-top: 10px solid transparent;
    border-right: 10px solid white;
    border-bottom: 10px solid transparent;
  }
}

@media (min-width: 992px) {
  #subNavbar {
    width: 100%;
    right: 0;
    left: auto;
  }
  .nav-icon, .left-caret {
    display: none;
  }
  /*#mainNavbar ul li.active:after{
    content: '';
    position: relative;
    width: 0;
    left: 40%;
    border-left: 10px outset transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffffff;
  }*/
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}
#close-sub-menu span.oi:hover {
    color: darkred;
}
.home-big-picture {
  color: white;
  padding: 150px 0;
  height: 80vh;
  min-height: 400px;
  background: center center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
section {
    padding: 100px 0;
}